
@{
    ViewData["Title"] = "Add Movie";
}

<h1>Add Movie</h1>

<form method="POST">
    <label for="movie">Movie Name: </label>
    <input type="text" name="movie"/>
    <button type="submit">Add Movie</button>
</form>